$orange-color: #d2840d;
$blue-color: #171b2c;
$black-color: #202124;
$dark-grey-color: #474747;
$grey-color: #7c7c7c;
$light-grey-color: #aeaeae;
$dark-white-color: #f2f2f2;
$light-white-color: #f8f8f8;
$white-color: #ffffff;
